<!-- 해더 -->
<div id="sub" class="header">
  <div class="inner init m">
    <div class="quick init">
      <ng-container *ngFor="let mdi of mdiMenuArray">
        <a (click)="mdiDisplayEvent(mdi)" class="quick-log">
          <span>{{ mdi.name }}</span>
        </a>
        <a (click)="mdiDisplayClose(mdi)">
          <span>X</span>
        </a>
      </ng-container>
    </div>
  </div>

  <div id="mdiHeader">
    <div [ngClass]="mdiStatus == 0 ? 'db' : 'dn'" #startup>
      <ng-template *ngComponentOutlet="startupComponent"></ng-template>
    </div>

    <div *ngFor="let _mdi of mdiMenuArray; let i = index">
      <div [ngClass]="mdiStatus == _mdi.id ? 'db' : 'dn'" [id]="_mdi.id">
        <ng-template *ngComponentOutlet="getComponentType(stashComponentList, _mdi.path)"></ng-template>
      </div>
    </div>

    <!-- 
      <ng-template dynamic-ref1></ng-template>
      <ng-template dynamic-ref2></ng-template>
      <ng-template dynamic-ref3></ng-template>
      <ng-template dynamic-ref4></ng-template>
      <ng-template dynamic-ref5></ng-template>
      -->

    <!-- 
      <div [ngClass]="mdiStatus == _mdi.id ? 'db' : 'dn'" [id]="_mdi.path">
          <ng-template dynamic-ref1></ng-template>
      </div>
      <div [ngClass]="mdiStatus == _mdi.id ? 'db' : 'dn'" [id]="_mdi.path">
        <ng-template dynamic-ref2></ng-template>  
      </div>
      
      <ng-template dynamic-ref3></ng-template>
      <ng-template dynamic-ref4></ng-template>
      <ng-template dynamic-ref5></ng-template>
      -->
  </div>
</div>
